MAVLink/joystickMAVLink/node-red-dashboard.json
[
    {
        "id": "b14d74c1.696298",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64cb8d44.c9ea44",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90a8499a.44f0d8",
        "type": "serial-port",
        "z": "",
        "serialport": "COM8",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bec602b.f1a5f",
        "type": "ui_group",
        "z": "",
        "name": "Channels",
        "tab": "795d4377.1e96bc",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "795d4377.1e96bc",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "169add92.5e9de2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8ee9c468.ab5be8",
        "type": "ui_group",
        "z": "",
        "name": "Vrf",
        "tab": "795d4377.1e96bc",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "24fa8f90.139e9",
        "type": "ui_group",
        "z": "",
        "name": "Attitude",
        "tab": "795d4377.1e96bc",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ee9e1474.502068",
        "type": "ui_group",
        "z": "",
        "name": "GPS",
        "tab": "795d4377.1e96bc",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "47734800.75d208",
        "type": "ui_group",
        "z": "",
        "name": "sys",
        "tab": "795d4377.1e96bc",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2aef07ad.bfa028",
        "type": "ui_group",
        "z": "",
        "name": "HBstatus",
        "tab": "795d4377.1e96bc",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "87012d94.fd8a8",
        "type": "ui_group",
        "z": "",
        "name": "System",
        "tab": "795d4377.1e96bc",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9a787369.83de3",
        "type": "ui_group",
        "z": "",
        "name": "Channels",
        "tab": "795d4377.1e96bc",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a17c77ad.03f0e8",
        "type": "serial in",
        "z": "b14d74c1.696298",
        "name": "ard",
        "serial": "90a8499a.44f0d8",
        "x": 70,
        "y": 60,
        "wires": [
            [
                "969fe6ad.5d2618"
            ]
        ]
    },
    {
        "id": "5dd12a81.145e94",
        "type": "debug",
        "z": "b14d74c1.696298",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 270,
        "y": 420,
        "wires": []
    },
    {
        "id": "969fe6ad.5d2618",
        "type": "function",
        "z": "b14d74c1.696298",
        "name": "parserData",
        "func": "\nvar obj = {\n    channels: [],\n    vrf: [],\n    attitude: [],\n    gps: [],\n    sys: [],\n    hbstatus: [],\n    statustext: []\n}\n\nvar test = msg.payload.split(';')\n\nobj.channels = test[0].split(',')\nobj.vrf = test[1].split(',')\nobj.attitude = test[2].split(',')\nobj.gps = test[3].split(',')\nobj.sys = test[4].split(',')\nobj.hbstatus = test[5].split(',')\nobj.statustext = test[6]\n\nreturn obj",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "5dd12a81.145e94",
                "f9855514.812708",
                "677fb9a8.f9a188",
                "b9639b2c.6cb828",
                "9aac8a89.c6e1c8",
                "3ac374fe.38feac",
                "552c5a16.011a14",
                "c0a74b02.be0c08",
                "9cf676a9.d195e8",
                "6e3727da.1a4468",
                "c8e4508d.db40d",
                "9a45dc32.e74b3",
                "98255a56.22a818",
                "538afbec.d635f4",
                "ac739443.9610b8",
                "65fd9f97.c63d9",
                "8122adec.9a3fb",
                "174664cc.cb306b",
                "3178c075.a22b3",
                "1c6ba07e.6cb9c"
            ]
        ]
    },
    {
        "id": "f9855514.812708",
        "type": "ui_gauge",
        "z": "b14d74c1.696298",
        "name": "",
        "group": "bec602b.f1a5f",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Channel 1",
        "label": "units",
        "format": "{{msg.channels[0]}}",
        "min": "1000",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "677fb9a8.f9a188",
        "type": "ui_gauge",
        "z": "b14d74c1.696298",
        "name": "",
        "group": "bec602b.f1a5f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Channel 2",
        "label": "units",
        "format": "{{msg.channels[1]}}",
        "min": "1000",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "b9639b2c.6cb828",
        "type": "ui_gauge",
        "z": "b14d74c1.696298",
        "name": "",
        "group": "9a787369.83de3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Channel 3",
        "label": "units",
        "format": "{{msg.channels[2]}}",
        "min": "1000",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "9aac8a89.c6e1c8",
        "type": "ui_gauge",
        "z": "b14d74c1.696298",
        "name": "",
        "group": "9a787369.83de3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Channel 4",
        "label": "units",
        "format": "{{msg.channels[3]}}",
        "min": "1000",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "3ac374fe.38feac",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "8ee9c468.ab5be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Altitude",
        "format": "{{msg.vrf[0]}} m",
        "layout": "row-spread",
        "x": 643,
        "y": 260,
        "wires": []
    },
    {
        "id": "552c5a16.011a14",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "8ee9c468.ab5be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ground Speed",
        "format": "{{msg.vrf[1]}} m/s",
        "layout": "row-spread",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "c0a74b02.be0c08",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "8ee9c468.ab5be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air speed",
        "format": "{{msg.vrf[2]}} m/s",
        "layout": "row-spread",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "9cf676a9.d195e8",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "24fa8f90.139e9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pitch",
        "format": "{{msg.attitude[0]}} rad",
        "layout": "row-spread",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "6e3727da.1a4468",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "24fa8f90.139e9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Roll",
        "format": "{{msg.attitude[1]}} rad",
        "layout": "row-spread",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "c8e4508d.db40d",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "ee9e1474.502068",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latitude",
        "format": "{{msg.gps[0]}}",
        "layout": "row-spread",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "9a45dc32.e74b3",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "ee9e1474.502068",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longitude",
        "format": "{{msg.gps[1]}}",
        "layout": "row-spread",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "98255a56.22a818",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "ee9e1474.502068",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "GPS Fix Type",
        "format": "{{msg.gps[2]}}",
        "layout": "row-spread",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "538afbec.d635f4",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "ee9e1474.502068",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Satellites Visible",
        "format": "{{msg.gps[3]}}",
        "layout": "row-spread",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "ac739443.9610b8",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "47734800.75d208",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Voltage",
        "format": "{{msg.sys[0] / 1000}} V",
        "layout": "row-spread",
        "x": 660,
        "y": 720,
        "wires": []
    },
    {
        "id": "65fd9f97.c63d9",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "47734800.75d208",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Current",
        "format": "{{msg.sys[1] / 100}} A",
        "layout": "row-spread",
        "x": 660,
        "y": 760,
        "wires": []
    },
    {
        "id": "8122adec.9a3fb",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "47734800.75d208",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Remaining",
        "format": "{{msg.sys[2]}}%",
        "layout": "row-spread",
        "x": 670,
        "y": 800,
        "wires": []
    },
    {
        "id": "174664cc.cb306b",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "2aef07ad.bfa028",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Board Status",
        "format": "{{msg.hbstatus[0]}}",
        "layout": "row-spread",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "3178c075.a22b3",
        "type": "function",
        "z": "b14d74c1.696298",
        "name": "motorStatus",
        "func": "if(msg.hbstatus[1] == 1){\n    msg.payload = \"Armed\"\n} else {\n    msg.payload = \"Disarmed\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 920,
        "wires": [
            [
                "d748eb62.d6dbb8"
            ]
        ]
    },
    {
        "id": "d748eb62.d6dbb8",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "2aef07ad.bfa028",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Motor Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 920,
        "wires": []
    },
    {
        "id": "1c6ba07e.6cb9c",
        "type": "ui_text",
        "z": "b14d74c1.696298",
        "group": "87012d94.fd8a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "System Message",
        "format": "{{msg.statustext}}",
        "layout": "row-spread",
        "x": 670,
        "y": 980,
        "wires": []
    },
    {
        "id": "c23724ed.dc8e78",
        "type": "serial in",
        "z": "64cb8d44.c9ea44",
        "name": "ard",
        "serial": "90a8499a.44f0d8",
        "x": 70,
        "y": 60,
        "wires": [
            [
                "f771f6b1.8ec218"
            ]
        ]
    },
    {
        "id": "6d859f97.85454",
        "type": "debug",
        "z": "64cb8d44.c9ea44",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 270,
        "y": 420,
        "wires": []
    },
    {
        "id": "f771f6b1.8ec218",
        "type": "function",
        "z": "64cb8d44.c9ea44",
        "name": "parserData",
        "func": "\nvar obj = {\n    channels: [],\n    vrf: [],\n    attitude: [],\n    gps: [],\n    sys: [],\n    hbstatus: [],\n    statustext: []\n}\n\nvar test = msg.payload.split(';')\n\nobj.channels = test[0].split(',')\nobj.vrf = test[1].split(',')\nobj.attitude = test[2].split(',')\nobj.gps = test[3].split(',')\nobj.sys = test[4].split(',')\nobj.hbstatus = test[5].split(',')\nobj.statustext = test[6]\n\nreturn obj",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "6d859f97.85454",
                "6a40fde1.ff7204",
                "35746d51.54dc92",
                "44a3ca37.ea4654",
                "7db81c19.614ee4",
                "435450f5.5be04",
                "455b22f8.2987cc",
                "9a1f3b38.867518",
                "9f1a3881.1d8358",
                "cb9a459d.72eeb8",
                "76c70e45.17eb4",
                "68ab73ac.84220c",
                "de011380.fcc17",
                "de69ccd1.a9856",
                "5cf9a4b9.c5fe2c",
                "9aeb9c31.5c7e6",
                "68100f5c.9c99e",
                "9c7d08dd.714898",
                "b2d18e8d.c714a",
                "96023386.9cd62"
            ]
        ]
    },
    {
        "id": "6a40fde1.ff7204",
        "type": "ui_gauge",
        "z": "64cb8d44.c9ea44",
        "name": "",
        "group": "bec602b.f1a5f",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Channel 1",
        "label": "units",
        "format": "{{msg.channels[0]}}",
        "min": "1000",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "35746d51.54dc92",
        "type": "ui_gauge",
        "z": "64cb8d44.c9ea44",
        "name": "",
        "group": "bec602b.f1a5f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Channel 2",
        "label": "units",
        "format": "{{msg.channels[1]}}",
        "min": "1000",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "44a3ca37.ea4654",
        "type": "ui_gauge",
        "z": "64cb8d44.c9ea44",
        "name": "",
        "group": "9a787369.83de3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Channel 3",
        "label": "units",
        "format": "{{msg.channels[2]}}",
        "min": "1000",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "7db81c19.614ee4",
        "type": "ui_gauge",
        "z": "64cb8d44.c9ea44",
        "name": "",
        "group": "9a787369.83de3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Channel 4",
        "label": "units",
        "format": "{{msg.channels[3]}}",
        "min": "1000",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "435450f5.5be04",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "8ee9c468.ab5be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Altitude",
        "format": "{{msg.vrf[0]}} m",
        "layout": "row-spread",
        "x": 643,
        "y": 260,
        "wires": []
    },
    {
        "id": "455b22f8.2987cc",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "8ee9c468.ab5be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ground Speed",
        "format": "{{msg.vrf[1]}} m/s",
        "layout": "row-spread",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "9a1f3b38.867518",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "8ee9c468.ab5be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air speed",
        "format": "{{msg.vrf[2]}} m/s",
        "layout": "row-spread",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "9f1a3881.1d8358",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "24fa8f90.139e9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pitch",
        "format": "{{msg.attitude[0]}} rad",
        "layout": "row-spread",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "cb9a459d.72eeb8",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "24fa8f90.139e9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Roll",
        "format": "{{msg.attitude[1]}} rad",
        "layout": "row-spread",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "76c70e45.17eb4",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "ee9e1474.502068",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latitude",
        "format": "{{msg.gps[0]}}",
        "layout": "row-spread",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "68ab73ac.84220c",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "ee9e1474.502068",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longitude",
        "format": "{{msg.gps[1]}}",
        "layout": "row-spread",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "de011380.fcc17",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "ee9e1474.502068",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "GPS Fix Type",
        "format": "{{msg.gps[2]}}",
        "layout": "row-spread",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "de69ccd1.a9856",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "ee9e1474.502068",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Satellites Visible",
        "format": "{{msg.gps[3]}}",
        "layout": "row-spread",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "5cf9a4b9.c5fe2c",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "47734800.75d208",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Voltage",
        "format": "{{msg.sys[0] / 1000}} V",
        "layout": "row-spread",
        "x": 660,
        "y": 720,
        "wires": []
    },
    {
        "id": "9aeb9c31.5c7e6",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "47734800.75d208",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Current",
        "format": "{{msg.sys[1] / 100}} A",
        "layout": "row-spread",
        "x": 660,
        "y": 760,
        "wires": []
    },
    {
        "id": "68100f5c.9c99e",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "47734800.75d208",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Remaining",
        "format": "{{msg.sys[2]}}%",
        "layout": "row-spread",
        "x": 670,
        "y": 800,
        "wires": []
    },
    {
        "id": "9c7d08dd.714898",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "2aef07ad.bfa028",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Board Status",
        "format": "{{msg.hbstatus[0]}}",
        "layout": "row-spread",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "b2d18e8d.c714a",
        "type": "function",
        "z": "64cb8d44.c9ea44",
        "name": "motorStatus",
        "func": "if(msg.hbstatus[1] == 1){\n    msg.payload = \"Armed\"\n} else {\n    msg.payload = \"Disarmed\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 920,
        "wires": [
            [
                "e7cafb92.e50a78"
            ]
        ]
    },
    {
        "id": "e7cafb92.e50a78",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "2aef07ad.bfa028",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Motor Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 920,
        "wires": []
    },
    {
        "id": "96023386.9cd62",
        "type": "ui_text",
        "z": "64cb8d44.c9ea44",
        "group": "87012d94.fd8a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "System Message",
        "format": "{{msg.statustext}}",
        "layout": "row-spread",
        "x": 670,
        "y": 980,
        "wires": []
    }
]